.ui.center.aligned.middle.aligned.grid
  .ui.column
    %h1 Dashboard
    %p
      Welcome
      =@user.username
    %p
      Your bitcoin address is
      %pre
        =@user.btc_addresses.last.address
    %a.ui.button{href: btc_addresses_path, data: {method: :post}} Generate a new one
