.ui.vertical.steps
  .completed.step
    %i.truck.icon
    .content
      .title Shipping
      .description Choose your shipping options
  .completed.step
    %i.credit.card.icon
    .content
      .title Billing
      .description Enter billing information
  .active.step
    %i.info.icon
    .content
      .title Confirm Order
      .description Verify order details
