.ui.container
  .ui.three.column.grid
    .six.wide.column
      .ui.vertical.steps
        .completed.step
          %i.user.icon
          .content
            .title Personal
            .description Verify your personal information
        .completed.step
          %i.building.icon
          .content
            .title Business
            .description Verify your business profile
        .active.step
          %i.credit.card.icon
          .content
            .title Banking
            .description Confirm your banking details
    .ten.wide.column
      %p Find me in app/views/verification/personal.html.haml
