default: &default
  # add default secrets
  coinbase_api_key:  <%= ENV['COINBASE_API_KEY'] %>
  coinbase_api_secret:  <%= ENV['COINBASE_API_SECRET'] %>
  coinbase_account_id: <%= ENV['COINBASE_ACCOUNT_ID'] %>

development:
  <<: *default
  secret_key_base: acb7133f47ca16df0793107f1716d053e5c9e341769ffa71c393d17c4012278055d3c2269de7828eea2e6e40fe7430ec5dca6e102d331956801ffa1fae60f468

test:
  <<: *default
  secret_key_base: 8886e189a8064a12a18e2c0850d43c3cbe72b8b600c54783570459df4d20b324f21fe9dfc51bfba760fa8c14fe2f564acdc0a9b5b1355994fc20254ed5e877b0

production:
  <<: *default
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
